<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>요즘 나의 취미</h1>
    <div>
        <p>1. lck 스프링 플옵 시즌이라 요즘 경기 영상 보는 것이 나의 취미</p>
        <p>2. 키링 모으기</p>
        <p>3. 취미라기 보다는 일본어를 제대로 배워보고 싶다.</p>
        <p>4. 마라탕 먹기 (주 1회 기본)</p>
        <p>5. 춤추기(?) - 요즘은 아일릿 magnetic 외우고 있습니다ㅎ</p>
    </div>
</body>
</html>